$background-grey: #f3f3f3;
$button-grey: #5e5e5e;

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.3rem;
  background-color: $background-grey;
}

// button {
//   height: 2.5rem;
//   border: none;
//   font-size: 1.3rem;
//   border-bottom: 4px solid #ccc;
//   margin-left: .5rem;
//   cursor: pointer;
//   color: $button-grey;
// }

// .container {
//   font-size: 1.3rem;
// }

.is-completed {
  text-decoration: line-through;
  color: $button-grey;
}

// .tdl-input {
//   padding: 0.5rem;
//   margin: 1rem 0;
// }


.tasks {
  max-width: 50rem;
  margin: auto;

}

.tdl-task {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding: 2rem 0;

  .btn-box {
    display: flex;
    width: 10rem;
    justify-content: space-between;
  }
}

button {
  cursor: pointer;
  border: none;
}

form {
  padding: 2rem 0;

}

.tdl-input {
  margin-right: 1rem;
  border: none;
}